[submodule "libsoundio"]
	path = libsoundio
	url = https://github.com/VoiceAmongUs/libsoundio.git
	branch = v2
[submodule "rnnoise"]
	path = rnnoise
	url = https://github.com/VoiceAmongUs/rnnoise
[submodule "opus"]
	path = opus
	url = https://github.com/VoiceAmongUs/opus
